<!-- <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2020 @TechJob</span>
    </div>
</footer> -->
<!DOCTYPE html>

<html>
 <head>
   <!-- <style>
  #page-container {
    position: relative;
    min-height: 10vh;
    background-color: black;
  }
  
  #content-wrap {
    padding-bottom: 6rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;;
    bottom: 0;
    width: 100%;
    height: 20px;   
    background-color: black;
    /* Footer height */
  }     
   </style> -->
 </head>

<body>
 <div id="page-container">
   <div id="content-wrap">

   
   </div>
   <footer id="footer">
    <div class="container">
    <span>All Rights Reserved 2020 @TechJob.</span>
    <div>
           <span> For queries Contact techjob@gmail.com</span>
        </div>
 
    </div> 
   </footer>
 </div>
</body>

</html>

